/* .heading {
  background-color: #b7e9f7;
} */
body {
  background: #b7e9f7;
}

.app-wrap {
  display: flex;
  flex-direction: column;
  max-width: 375px;
  height: 90vh;
  margin: 5vh auto 5vh auto;
  border-radius: 15px;
  background: #fff;
}

.app-header h1 {
  width: 90px;
  height: 28px;
  padding-left: 5%;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  color: #28352f;
}

.app-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/*
 .app-wrap > * {
  flex:1 1 auto;
} */
